<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Study_00</display-name>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/jsp/errorTest.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/404.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ImageServletDemo02</servlet-name>
    <servlet-class>cn.ray.web.servlet.ImageServletDemo02</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>cn.ray.web.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet02</servlet-name>
    <servlet-class>cn.ray.web.servlet.DownloadServlet02</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletdDemo02</servlet-name>
    <servlet-class>cn.ray.web.servlet.ServletdDemo02</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OutputSreamDemo1</servlet-name>
    <servlet-class>cn.ray.response.OutputSreamDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OutputStreamDemo2</servlet-name>
    <servlet-class>cn.ray.response.OutputStreamDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownLoadDemo01</servlet-name>
    <servlet-class>cn.ray.response.DownLoadDemo01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeaderExpires</servlet-name>
    <servlet-class>cn.ray.response.HeaderExpires</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeaderExpires02</servlet-name>
    <servlet-class>cn.ray.response.HeaderExpires02</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeaderRefersh01</servlet-name>
    <servlet-class>cn.ray.response.HeaderRefersh01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeaderRefresh02</servlet-name>
    <servlet-class>cn.ray.response.HeaderRefresh02</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeaderRefresh03</servlet-name>
    <servlet-class>cn.ray.response.HeaderRefresh03</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Redirect01</servlet-name>
    <servlet-class>cn.ray.response.Redirect01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeadersGet01</servlet-name>
    <servlet-class>cn.ray.request.HeadersGet01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeaderGet01</servlet-name>
    <servlet-class>cn.ray.request.HeaderGet01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletGet01</servlet-name>
    <servlet-class>cn.ray.request.ServletGet01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ParamGet02</servlet-name>
    <servlet-class>cn.ray.request.ParamGet02</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RefererTest</servlet-name>
    <servlet-class>cn.ray.request.RefererTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DispatcherForwardTest</servlet-name>
    <servlet-class>cn.ray.request.DispatcherForwardTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>APICookieTest</servlet-name>
    <servlet-class>cn.ray.cookie.APICookieTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowBooks</servlet-name>
    <servlet-class>cn.ray.cookie.Demo01.ShowBooks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailsUpdate</servlet-name>
    <servlet-class>cn.ray.cookie.Demo01.DetailsUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo01</servlet-name>
    <servlet-class>cn.ray.session.SessionDemo01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo02</servlet-name>
    <servlet-class>cn.ray.session.SessionDemo02</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionWithOutCookie</servlet-name>
    <servlet-class>cn.ray.session.SessionWithOutCookie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListBookServlet</servlet-name>
    <servlet-class>cn.ray.session.Demo01.ListBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>cn.ray.session.Demo01.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>cn.ray.session.Demo01.CarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.ray.session.DemoLogin02.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.ray.session.DemoLogin02.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoBackServlet</servlet-name>
    <servlet-class>cn.ray.urlconnection.DoBackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoBackServlet2</servlet-name>
    <servlet-class>cn.ray.urlconnection.DoBackServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServletDemo02</servlet-name>
    <url-pattern>/servlet/ImageServletDemo02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/servlet/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet02</servlet-name>
    <url-pattern>/servlet/DownloadServlet02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletdDemo02</servlet-name>
    <url-pattern>/servlet/ServletdDemo02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutputSreamDemo1</servlet-name>
    <url-pattern>/servlet/OutputSreamDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutputStreamDemo2</servlet-name>
    <url-pattern>/servlet/OutputStreamDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoadDemo01</servlet-name>
    <url-pattern>/servlet/DownLoadDemo01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderExpires</servlet-name>
    <url-pattern>/servlet/HeaderExpires</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderExpires02</servlet-name>
    <url-pattern>/servlet/HeaderExpires02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderRefersh01</servlet-name>
    <url-pattern>/servlet/HeaderRefersh01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderRefresh02</servlet-name>
    <url-pattern>/servlet/HeaderRefresh02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderRefresh03</servlet-name>
    <url-pattern>/servlet/HeaderRefresh03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redirect01</servlet-name>
    <url-pattern>/servlet/Redirect01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeadersGet01</servlet-name>
    <url-pattern>/servlet/HeadersGet01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderGet01</servlet-name>
    <url-pattern>/servlet/HeaderGet01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletGet01</servlet-name>
    <url-pattern>/servlet/ServletGet01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParamGet02</servlet-name>
    <url-pattern>/servlet/ParamGet02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefererTest</servlet-name>
    <url-pattern>/servlet/RefererTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DispatcherForwardTest</servlet-name>
    <url-pattern>/servlet/DispatcherForwardTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>APICookieTest</servlet-name>
    <url-pattern>/servlet/APICookieTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBooks</servlet-name>
    <url-pattern>/servlet/ShowBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailsUpdate</servlet-name>
    <url-pattern>/servlet/DetailsUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo01</servlet-name>
    <url-pattern>/servlet/SessionDemo01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo02</servlet-name>
    <url-pattern>/servlet/SessionDemo02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionWithOutCookie</servlet-name>
    <url-pattern>/servlet/SessionWithOutCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListBookServlet</servlet-name>
    <url-pattern>/servlet/ListBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/servlet/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/servlet/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoBackServlet</servlet-name>
    <url-pattern>/servlet/DoBackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoBackServlet2</servlet-name>
    <url-pattern>/servlet/DoBackServlet2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>